USE [master]
GO
/****** Object:  Database [QlDungCuTheThao]    Script Date: 12/22/2021 11:06:20 AM ******/
CREATE DATABASE [QlDungCuTheThao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QlDungCuTheThao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QlDungCuTheThao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QlDungCuTheThao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QlDungCuTheThao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QlDungCuTheThao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QlDungCuTheThao]
GO
/****** Object:  Table [dbo].[DungCu]    Script Date: 12/22/2021 11:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DungCu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[Gia] [bigint] NOT NULL,
	[SoLuong] [bigint] NOT NULL,
	[ThuongHieu] [nvarchar](255) NULL,
	[NgaySX] [datetime] NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[AnhMoTa] [image] NULL,
 CONSTRAINT [PK_DungCu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DungCu] ON 

SET IDENTITY_INSERT [dbo].[DungCu] OFF
GO
ALTER TABLE [dbo].[DungCu] ADD  CONSTRAINT [DF_DungCu_SoLuongKho]  DEFAULT ((0)) FOR [SoLuong]
GO
USE [master]
GO
